1. Write a code to create a string with your name and print it.

In [2]:
Name="Sonali Sharma"
print(Name)
print(type(Name))

Sonali Sharma
<class 'str'>

2. Write a code to find the length of the string "Hello World".

In [4]:
String1="Hello World"
print(len(String1))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [8]:
String1="Python Programming"
print(String1[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [13]:
String1="hello"
print(String1.upper())

HELLO

5. Write a code to replace the word 'apple' with 'orange' in the string "I like apple"

In [15]:
String1="I like apple"
print(String1.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
list1=[1,2,3,4,5]
list1.append(10)
print(list1)

[1, 2, 3, 4, 5, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [19]:
list1=[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list['a','b','c','d'].

In [20]:
list1=['a','b','c','d']
print(list1[1])

b

10. Write a code to reverse the list [10,20,30,40,50].

In [27]:
list1=[10,20,30,40,50]
print(list1[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100,200,300 and print it.

In [28]:
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

In [29]:
tuple1=('red','green','blue','yellow')
print(tuple1[-2])

blue

13. Write a code to find the minimum number in the tuple(10,20,5,15).

In [30]:
tuple1=(10,20,5,15)
print(min(tuple1))

5

14. Write a code to find the index of the element 'cat' in the tuple ('dog','cat','rabbit').

In [31]:
tuple1=('dog','cat','rabbit')
print(tuple1.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check 'kiwi' is in it.

In [34]:
tuple1=('apple','kiwi','banana')
for fruit in tuple1:
    if fruit == 'kiwi':
        print("kiwi is in the tuple")
    else:
        print("kiwi is not in the tuple")

kiwi is not in the tuple
kiwi is in the tuple
kiwi is not in the tuple

In [35]:
tuple1=('apple','mango','banana')
for fruit in tuple1:
    if fruit == 'kiwi':
        print("kiwi is in the tuple")
    else:
        print("kiwi is not in the tuple")

kiwi is not in the tuple
kiwi is not in the tuple
kiwi is not in the tuple

16. Write a code to create a set with the elements 'a','b','c' and print it.

In [38]:
set1={'a','b','c'}
print(set1)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1,2,3,4,5}.

In [39]:
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

18. Write a code to remove the element 4 from the set {1,2,3,4}.

In [41]:
set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [42]:
set1={1,2,3}
set2={3,4,5}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [43]:
set={1,2,3}
set2={2,3,4}
set3=set1.intersection(set2)
print(set3)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [1]:
dict1={"name":"Rajib","age":34}
print(dict1)

{'name': 'Rajib', 'age': 34}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [5]:
dict1={"name":"John","age":25}
print(dict1)
dict1.update({"Country":"USA"})
print(dict1)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'Country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [8]:
dict1={"name":"Alice","age":30}
name=dict1.get("name")
print(name)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [11]:
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict1)
del dict1['age']
print(dict1)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [13]:
dict1={'name':'Alice', 'city': 'Paris'}
print(dict1)
if 'city' in dict1:
    print("City is present in the dictionary")
else:
    print("City is not present in the dictionary")

{'name': 'Alice', 'city': 'Paris'}
City is present in the dictionary

In [14]:
dict1={'name':'Alice', 'city': 'Paris'}
print(dict1)
if dict1.get('city') is not None:
    print("The key 'City' is present in the dictionary")
else:
    print("The key 'City' is not present in the dictionary")

{'name': 'Alice', 'city': 'Paris'}
The key 'City' is present in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [17]:
list1=[10,20,30,40,50]
print(list1)
tuple1=tuple(list1)
print(tuple1)
dict1={'name': 'Alice', 'city': 'Paris'}
print(dict1)

[10, 20, 30, 40, 50]
(10, 20, 30, 40, 50)
{'name': 'Alice', 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [26]:
list1=[55,24,85,67,95]
print(list1) # Unsorted list
list1.sort()
print(list1)  # After sorting the list in ascending order

[55, 24, 85, 67, 95]
[24, 55, 67, 85, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [24]:
list1=["Suresh","Rakesh","Sonia","Taniya","Ekta"]
print(list1)
print(list1[2])

['Suresh', 'Rakesh', 'Sonia', 'Taniya', 'Ekta']
Sonia

29. Write a code to combine two dictionaries into one and print the result.

In [22]:
dict1={'name':'Alice', 'city': 'Paris'}
print(dict1)
dict2={'age':22,'city':'New York','Occupation':'Engineer'}
print(dict2)
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'city': 'Paris'}
{'age': 22, 'city': 'New York', 'Occupation': 'Engineer'}
{'name': 'Alice', 'city': 'New York', 'age': 22, 'Occupation': 'Engineer'}

30. Write a code to convert a list of strings into a set.

In [18]:
string1="Hello World"
print(string1)
set1=set(string1)
print(set1)

Hello World
{'d', ' ', 'H', 'e', 'W', 'l', 'o', 'r'}

In [19]:
string1="PW Skills"
print(string1)
set1=set(string1)
print(set1)

PW Skills
{'P', 'k', ' ', 's', 'W', 'l', 'S', 'i'}